{% extends 'base.html' %}
{% block title %}- Main{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default"><br>
            <h1><img src="static/images/webRTC.png" width=150> WebRTC for Drone Autonomous Flight </h1>
            <img src="static/images/webRTC2.png" width=500>

            <h2>3조 TEAM PROJECT </h2>
            <p>5G 영상처리를 활용한 인공지능 자율비행 통제 시스템</p>
            <p>1치 subproject</p>
            <p></p>
            <h3>조장: 조준희 </h3>
            <h3>김세진 박정억 이근희 전호종 황현조</h3>
            <br><br><br>
            <img src="static/images/RAPA2.jpg" width=200>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}